html {
  font-family: sans-serif;
}

/* Your CSS below here */

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: red;
  border: 1px solid black;

}