html {
  font-family: sans-serif;
}

/* Your CSS below here */

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 250px;
  height: 200px;
  background-color: red;
  border: 1px solid darkred;
  border-radius: 20px;
  font-size: 1rem;
  color: white;
  text-shadow: 1px 1px 1px black;
  box-shadow: 0px 5px 5px black;
  position: relative;


}